@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Syne:wght@400..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Syne:wght@400..800&display=swap');
* {margin: 0; padding: 0;}
:root {
  --main-color: rgba(182, 49, 49, 0.656); /* Define a variable */
}

body {
  overflow-x: hidden;
  font-family: Syne;
  background-color: rgb(47, 2, 19);
  color: white;
}


.plant-overlay {
  position: absolute;
}

.plant-overlay1 
{
  top: 0;
  left: 0;
}

.plant-overlay2
{
  z-index: -1;
  top: 1200px;
  right: 0;
}

.plant-overlay3
{
  z-index: 3;
  top: 350px;
  left: 0;
}

.plant-overlay4 
{
  top: 0;
  right: 0;
}

.plant-overlay5
{
  top: 4300px;
  left: 0;
}

.shadow {
  z-index: 2;
  position: absolute;
  top: 940px;

  width: 100%;
  height: 10rem;
  background-color: rgb(47, 2, 19);
  box-shadow: 1px -19px 33px 51px rgb(47, 2, 19);
  -webkit-box-shadow: 1px -19px 33px 51px rgb(47, 2, 19);
  -moz-box-shadow: 1px -19px 33px 51px rgb(47, 2, 19);
}

section { height: 100vh;
}
#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

#hero video {
  top: 0;
  position: absolute;
}

.animated-title {
  z-index: 3;
  color: white;
  text-transform: uppercase;
  font-size: 100px;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 800;
}

.subtitle {
  z-index: 3;}

.mobile {display: none;}

.circle {
  background-color: var(--main-color);
  width: 700px;
  height: 700px;
  position: absolute;
  right: 33.33%;
  top: 8rem;
  border-radius: 50%;
  z-index: -1;
  
}

.collections {padding: 6rem; font-size: 4rem; display: flex; align-items: center; margin: 2rem 0;}
.collections h3 {font-size: 1.4rem; margin-bottom: 1.5rem;}
.collections ul {list-style-type: none; font-weight: 700;}
.collections ul li {width: 100%; margin-top: 2rem;}
.collections ul li:hover {color: orangered; cursor: pointer;}


.left-col {width: 50%;}
.right-col {width: 50%; height: 100%; display: flex; justify-content: end; align-items: center;}

.right-col img {height: 600px; box-shadow: 4rem 3rem 1rem rgba(0, 0, 0, 0.1); /* Adjust values for your desired shadow */
}
/* .right-col img:hover {transform: rotate3d(1, 2, 0, 120deg); transition: transform 1s ease;} */


.newstock {height: 150vh;}
.newstock h1 {position: sticky; top:40vh; z-index: -1;}

.articles {margin-top: 30rem; display: flex; justify-content: center; align-items: center; gap: 4rem;}
.articles img {width: 350px;}


.gallery video {
  z-index: -4;  
}
.gallery {position:relative}
.gallery-text {
  background-color: black;
  width: 350px;
  padding: 3rem;
  font-family: syne;
  font-size: 2rem;
  position: absolute;
  bottom: 1rem;
  left: 20rem;
}


/* ----------------------------------------------------- */

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}


.marquee{
  position: sticky;
  top: 5rem;
  margin: 10rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

  .marquee h1{
    font-weight: 80;
    font-family: Jakatra;
    color: transparent;
    font-weight: 800;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 0.3rem;
    font-size: 10rem;
    display: inline-block;
    text-transform: uppercase;
    will-change: transform;
    transform: translateX(0);
    white-space: nowrap;
    animation: marquee 3s linear infinite;
  }


/* ----------------------------------------------------- */
.cards {
   display: flex;
   align-items: center;
   height: fit-content;

  }
  .card video {width: 550px}
.card {
  z-index: 3;
  margin: 2rem;
  padding: 2rem;
  background-color: rgb(159, 44, 44);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card:hover {
  cursor: pointer;
  background-color: rgb(122, 33, 33);
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.card video {
  width: 500px;
}
.card-text {  font-size: 1.5rem;
  text-transform: uppercase;
margin-top: 3rem;}

.marquee2 h1{color: white; -webkit-text-stroke-width: 0;}

/*! RESPONSIVNESS: ----------------------------------------------------------- */
@media screen and (max-width: 1300px) {
  .desktop {display: none;}
  .mobile {display: block;}
}
@media screen and (max-width: 1300px) {

  .animated-title {    word-wrap: break-word;
  }
  .subtitle {font-size: 1rem;}

  .collections {flex-direction: column; font-size: 300%; padding: 0;text-align: center;}

  .collections ul li {margin-top: 1rem; position: relative;}

  .left-col {width: 100%;}
.right-col {width: 100%; justify-content: center; position: relative; z-index: -1; top: -580px;}


.right-col img {height: 80%; box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.1); filter:opacity(50%); 

} 

.newstock {height: fit-content;}

.articles { display: flex; justify-content: center; align-items: center; flex-direction: column;}
.gallery {display: none;}


}

