@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Syne:wght@400..800&display=swap");
* {margin: 0; padding: 0;}
body {
  font-family: Syne;
  background-color: #f0ebe8;
}

#hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.animated-title {
  font-size: 100px;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 800;
}

.circle {
  background-color: rgba(238, 233, 81, 0.656);
  width: 700px;
  height: 700px;
  position: absolute;
  right: 4rem;
  top: 20rem;
  border-radius: 50%;
  z-index: -1;
}

.collections {padding: 6rem; font-size: 4rem; display: flex;}
.collections h3 {font-size: 1.4rem; margin-bottom: 1.5rem;}
.collections ul {list-style-type: none; font-weight: 700;}
.collections ul li {width: 100%;}
.collections ul li:hover {color: orangered; cursor: pointer;}


.left-col {width: 50%;}
.right-col {width: 50%;}