@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Syne:wght@400..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Syne:wght@400..800&display=swap');
* {margin: 0; padding: 0;}
body {
  overflow-x: hidden;
  font-family: Syne ;
  background-color: #f0ebe8;
}
section { height: 100vh;
}
#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.animated-title {
  text-transform: uppercase;
  font-size: 100px;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 800;
  
}
.mobile {display: none;}

.circle {
  background-color: rgba(238, 233, 81, 0.656);
  width: 700px;
  height: 700px;
  position: absolute;
  right: 5rem;
  top: 8rem;
  border-radius: 50%;
  z-index: -1;
  
}

.collections {padding: 8rem; font-size: 4rem; display: flex; align-items: center;}
.collections h3 {font-size: 1.4rem; margin-bottom: 1.5rem;}
.collections ul {list-style-type: none; font-weight: 700;}
.collections ul li {width: 100%; margin-top: 2rem;}
.collections ul li:hover {color: orangered; cursor: pointer;}


.left-col {width: 50%;}
.right-col {width: 50%; height: 100%; display: flex; justify-content: end; align-items: center;}

.right-col img {height: 600px; box-shadow: 4rem 3rem 1rem rgba(0, 0, 0, 0.1); /* Adjust values for your desired shadow */
}
/* .right-col img:hover {transform: rotate3d(1, 2, 0, 120deg); transition: transform 1s ease;} */


.newstock {height: 150vh;}
.newstock h1 {position: sticky; top:40vh; z-index: -1;}

.articles {margin-top: 30rem; display: flex; justify-content: center; align-items: center; gap: 4rem;}
.articles img {width: 350px;}


.gallery {
  display: flex; justify-content: center; align-items: center; margin-top: 5rem;
  height: 100vh;}
.gallery img {width: 500px;}

/* ----------------------------------------------------- */

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}


.marquee{
  margin: 10rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;}

  .marquee h1{
    
    display: inline-block;
    text-transform: uppercase;
    will-change: transform;
    transform: translateX(0);

    white-space: nowrap;
    animation: marquee 1s linear infinite;
  }


/* ----------------------------------------------------- */




/*! RESPONSIVNESS: ----------------------------------------------------------- */
@media screen and (max-width: 1300px) {
  .desktop {display: none;}
  .mobile {display: block;}
}
@media screen and (max-width: 1300px) {

  .animated-title {    word-wrap: break-word;
  }
  .subtitle {font-size: 1rem;}

  .collections {flex-direction: column; font-size: 300%; padding: 0;text-align: center;}

  .collections ul li {margin-top: 1rem; position: relative;}

  .left-col {width: 100%;}
.right-col {width: 100%; justify-content: center; position: relative; z-index: -1; top: -580px;}


.right-col img {height: 80%; box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.1); filter:opacity(50%); 

} 

.newstock {height: fit-content;}

.articles { display: flex; justify-content: center; align-items: center; flex-direction: column;}
.gallery {display: none;}


}

